@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 238, 238, 238;
  scroll-behavior: smooth;
}

html {
  background-color: rgb(36, 36, 36);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: rgb(var(--background-rgb));
  margin: auto;
  scroll-behavior: smooth;
}

[contenteditable="true"]:focus {
  outline: none;
}
*:focus {
  outline: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes loop0ToNeg100 {
  0% {
    transform: translateX(0%);
    display: flex;
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes moveTo100 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  white-space: nowrap;
  position: fixed;
  padding-left: 2rem;
  background-color: #c18c41;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scroll-container#scroll-container-one {
  animation: loop0ToNeg100 15s linear normal forwards;
}

.scroll-container#scroll-container-two {
  transform: translateX(100%);
  animation: loop 30s linear 0s infinite;
}

.scroll-container#scroll-container-three {
  transform: translateX(100%);
  animation: loop 30s linear 15s infinite;
}

/* .transparent-gradient {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
} */

.main-footer {
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 0) 0%,
    rgba(238, 238, 238, 0.641109) 20.76%,
    rgba(238, 238, 238, 0.847283) 26.47%,
    rgba(238, 238, 238, 0.954342) 36.95%,
    #eeeeee 52.67%
  );
}

/*
background: linear-gradient(0deg, #80E93D -37.61%, rgba(128, 233, 61, 0) 100%);
*/

.green-gradient {
  background: linear-gradient(
    0deg,
    #80e93d -37.61%,
    rgba(128, 233, 61, 0) 100%
  );
}

.trans-gradient {
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 0.461) 20.76%,
    rgba(238, 238, 238, 0.374) 26.47%,
    rgba(238, 238, 238, 0.384) 36.95%,
    #eeeeee90 52.67%
  );
  background-blend-mode: multiply;
}

.footer-shadow {
  box-shadow: 0px 25px 25px 0px #0000000d;
}

.leading-very-relaxed {
  line-height: 10rem;

  @media screen {
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.coc-page {
  background: linear-gradient(
    89.97deg,
    rgba(128, 233, 61, 0) 44.33%,
    rgba(128, 233, 61, 0.1) 105.7%
  );
}
